*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor_productos{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin:10px 10px ;
    img{
        margin: auto;
        max-width: 100%;
    }
}

.lista{
    display: flex;
    justify-content:space-around;
    text-align: center;
    p{
        width: 30px;
    
    }
        
    .miniatura{
        width: 30px;
    }

}

#titulo_lista, #total {
    text-align: center;
  }

#rubros_lista{
    @extend .lista;    
}