@font-face {
  font-family: "tango";
  src: url(../font/TangoSans.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "tango";
  color: #53557f;
}

body {
  height: 100%;
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background-color: #53557f;
  width: 100%;
  margin: 0;
  height: 60px;
}
header h1 {
  color: white;
  margin-left: 15px;
}
header #carrito_icono {
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 40px 50px;
  color: white;
}
header .clima {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .clima span {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  flex-grow: 1;
}
main h2 {
  text-align: center;
  margin: 10px;
  font-size: 1.5rem;
}

.contenedor_productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 80%;
}
.contenedor_productos .tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 10px 10px;
  padding: 20px;
  box-shadow: #53557f 0px 5px 15px;
  line-height: 25px;
}
.contenedor_productos .tarjeta img {
  margin: auto;
  max-width: 100%;
}
.contenedor_productos .tarjeta .cantidad_producto {
  text-align: center;
  width: 60%;
  color: #53557f;
}
.contenedor_productos .tarjeta div {
  display: flex;
  gap: 2px;
}
.contenedor_productos .tarjeta .btn_comprar, .contenedor_productos .tarjeta #finalizar_comprar button, #finalizar_comprar .contenedor_productos .tarjeta button {
  box-shadow: 0px 10px 11px -7px #53557f;
  background: #616495;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 20px;
  margin-top: 10px;
}
.contenedor_productos .tarjeta .cantidad_prod {
  color: white;
}

.carrito {
  background-color: #7073a9;
  width: 30vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -600px;
  display: none;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding-top: 100px;
  color: white;
  text-align: center;
}
.carrito p {
  color: white;
}
.carrito .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.carrito .item p {
  color: white;
}
.carrito .item .item_img {
  width: 50px;
}
.carrito .item .icofont-trash {
  cursor: pointer;
  color: white;
}
.carrito .orden_lista {
  display: none;
}
.carrito .id_producto {
  display: none;
}
.carrito #total {
  text-align: center;
  color: white;
  margin: 15px;
  /*border: solid;
  border-radius: 10px;
  border-color: white;*/
  padding: 5px;
  width: auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.item p {
  color: white;
}
.item .item_img {
  width: 50px;
}
.item .icofont-trash {
  cursor: pointer;
  color: white;
}

.orden_lista {
  display: none;
}

.id_producto {
  display: none;
}

#total {
  text-align: center;
  color: white;
  margin: 15px;
  /*border: solid;
  border-radius: 10px;
  border-color: white;*/
  padding: 5px;
  width: auto;
}

.btn_comprar, #finalizar_comprar button {
  box-shadow: 0px 10px 11px -7px #53557f;
  background: #616495;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 20px;
  margin-top: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.formulario input {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #53557f;
  justify-content: space-around;
  padding-top: 10px;
  position: relative;
  bottom: 0;
  box-shadow: #53557f 0px 5px 15px;
}
footer div h3, footer p, footer i {
  color: white;
}

.active {
  transform: translate(-600px);
}

.opacity {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.d-block {
  display: inline-block;
  min-height: 100vh;
}

.w-70 {
  width: 70vw;
}

.carrito_blanco {
  color: white;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 15px;
  }
  .carrito {
    width: 100%;
  }
  .tarjeta {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */